
header .container-fluid{
    color: white;
    background-color: rebeccapurple;
    height: 100px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    padding-top: 10px;
}
footer .container-fluid{
    color: white;
    background-color: rebeccapurple;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}


body .col-md-10{
    background-color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

body h1{
    color:rebeccapurple;
}
body .col-md-2{
    background-color: grey;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    color:brown;
}

body ul{
    list-style: none;
    color:white;
    font-family: 'Indie Flower', cursive;
    
}

body small{
    font-family: 'Titillium Web', sans-serif;
}

body li{
    margin-top:10px;
    margin-bottom: 10px;
}

body .blogpost{
    background-color: lightgrey;
}
body .panel-body{
    font-family: 'Vollkorn SC', serif;
    color:brown;
}

body .pull-left{
    font-family: 'Roboto', sans-serif;
}

body #datechronology{
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    margin-bottom: 5px;
}

body #datechronology a:hover{
    background-color: black;
    color: inherit; 
    text-decoration: inherit; 
}

body #datechronology a:link{
    background-color: grey;
    color: inherit; 
    text-decoration: inherit; 
}

body #datechronology a{
    color: white;
}
